@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:bg-customHover:hover {
    background-color: rgb(47, 58, 178);
  }

  @media (max-width: 770px) {
    .sidebar-hidden {
      display: none;
    }
  }
  /* styles.css */
.placeholder-big::placeholder {
  font-size: 2.75rem; 
  color: black;
  font-weight: bold;
  
}
